*{
    margin: 0px; 
    box-sizing: border-box;    
}

body{
    background: rgb(224, 224, 224);
    font-family: sans-serif;
}

main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 1px -13px 30px black;
    padding: 20px;
}

nav ul li{
    display: inline-block;
    padding: 0px 10px;
}

div > .title-text{
    font-weight: 600;
    font-size: 22px;
}

article .article{
    width: 90%;
    background: white;
    box-shadow: 9px 8px 20px 0px #afafaf;
    text-align: justify;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
}

/* section .modal{
    position: absolute;
    background: white;
    box-shadow: 9px 2px 20px 0px #afafaf;
    width: 60%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.modal .icon{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.modal .icon .red, .green, .yellow{
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 50%;

}

.modal .icon .red{
    background: red;
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    z-index: 1;
}

.modal .icon .green{
    background: rgb(0, 175, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    z-index: 3;
}

.modal .icon .yellow{
    background: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -55%);
    z-index: 2;;
} */

.modal{
    width: 350px;
    height: 550px;
    background: #1d1d1d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.modal .container p{
    position: relative;
    top: 100px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    color: #eaeaea;
    text-shadow: 0px 0px 10px #eaeaee;
}

.foco1{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
    background: white;
    filter: blur(70px);
}

.foco2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: white;
    filter: blur(70px);
}