*{
    margin: 0px; 
    box-sizing: border-box;    
}

body{
    background: rgb(224, 224, 224);
    font-family: 'Glory', sans-serif;;
}

main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 1px -13px 30px black;
    padding: 20px;
}

nav ul li{
    display: inline-block;
    padding: 0px 10px;
}

div > .title-text{
    font-weight: 600;
    font-size: 22px;
}

article .article{
    width: 90%;
    background: white;
    box-shadow: 9px 8px 20px 0px #afafaf;
    text-align: justify;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
}

/* section .modal{
    position: absolute;
    background: white;
    box-shadow: 9px 2px 20px 0px #afafaf;
    width: 60%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.modal .icon{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.modal .icon .red, .green, .yellow{
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 50%;

}

.modal .icon .red{
    background: red;
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    z-index: 1;
}

.modal .icon .green{
    background: rgb(0, 175, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    z-index: 3;
}

.modal .icon .yellow{
    background: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -55%);
    z-index: 2;;
} */

.modal{
    width: 320px;
    height: 480px;
    background: #1d1d1d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.modal .info{
    position: absolute;
    top: 120px;
    left: 30px;
    color: white;
}

.modal .info .nombre{
    font-size: 29px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(181, 181, 181);
    padding-bottom: 7px;
}

.modal .info .profesion{
    font-size: 17px;
    color: #afafaf;
    text-shadow: 0px 0px 10px rgb(181, 181, 181);
}

.modal .info .info-personal{
    padding: 40px 0px 0px 0px;
    font-size: 14px;
}

.modal .info .info-personal div{
    display: flex;
    align-items: center;
    color: #afafaf;
    text-shadow: 0px 0px 10px rgb(181, 181, 181);
    margin: 3px 0px;
    gap: 3px;
}

.info-personal div > p{
    color: #afafaf;
    text-shadow: 0px 0px 10px rgb(181, 181, 181);
}

.info-personal div .icono{
    width: 20px;
}

.info-personal div > i{
    color: #41c85a;
    text-shadow: 0px 0px 20px #62c975;
}

img{
    position: absolute;
    right: 30px;
    top: 95px;
    height: 220px;
}

.modal .container > p{
    position: relative;
    top: 100px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    color: #eaeaea;
    text-shadow: 0px 0px 10px #eaeaee;
}

.foco1{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
    background: white;
    filter: blur(70px);
}

.foco2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: white;
    filter: blur(70px);
}

article .redes{
    position: absolute;
    bottom: 40px;
    right: 30px;
    font-size: 23px;
    color: white;
}

article .redes i{
    padding: 0px 5px;
    color: #41c85a;
    text-shadow: 0px 0px 20px #62c975;
}

article .redes i:last-child{
    padding: 0px 0px 0px 5px;
}

article .redes p{
    font-size: 13px;
    text-shadow: 0px 0px 10px white;
    text-align: right;
    padding-bottom: 15px;
}

.modal .close{
    position: absolute;
    top: 25px;
    right: 30px;
    color:  #41c85a;
    /* color: white; */
    font-size: 25px;
}